body {
  padding-top: 6rem;
  font-family: 'Open Sans', sans-serif, serif;
  background-color: #fafafa;
}

.info {
  height: 10rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.info h4 {
  color: #999;
}

.entry {
}

.entry-type {
  color: #1abc9c;
  padding-bottom: 20px;
  position: relative;
}

.entry + .entry {
  margin-top: 2rem;
}

.time {
  position: relative;
  padding-right: 3rem;
}

.title {
  color: #2C3E50;
  font-size: 1.5rem;
  font-weight: bold;
}

.time > .title {
  font-weight: 300;
  font-size: 1.25rem;
}

.time > .subtitle {
  font-weight: 300;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .time > .title,
  .time > .subtitle {
    font-weight: 300;
    padding-bottom: 0;
    text-align: right;
  }
}

.title > span.bold {
  color: #1abc9c;
  font-weight: 700;
}

.subtitle {
  color: #aaa;
  font-size: 1rem;
  font-weight: 700;
}

.detail.first:before {
  top: 6px;
}

.detail.last:before {
  content: none;
}

@media (min-width: 768px) {
  .detail:before {
    content: "";
    display: block;
    position: absolute;
    height: calc(100% + 2.375rem);
    width: 2px;
    background-color: #ddd;
    top: 0;
    left: -25px;
  }

  .detail:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    left: -36px;
    top: 6px;
    border: 2px solid #ddd;
    background-color: #fafafa;
  }
}
